.item-container{
    background:#28047c;
    width: 100%;
    padding-bottom: 15px;
}
.item-container img{
    margin-left: 15px;
    width: 50px;
    height: 50px;
}

.item-container header{
    display: flex;
    align-items: center;
}

.item-container ul{
    width: 100%;
    margin-top: 10px;
    margin-left: 40px;
    list-style: none;
}

.item-container li{
    display: inline;
    float: left;
}

.item-container li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 20px;

  }
#sair {
    float: right;

  }
.btn-sair{
    outline: 0;
    float: right;
}

