.list-items{
    width: 100%;
    max-width: 1180;
}

.list-items ul{
    list-style: none;
    background-color:white;
    margin: 20px;
    padding-top: 10px;
    height: 160px;;
    border-radius: 15px;
}


.list-items ul li img{
    float: left;
    width: 150px;
    height: 150px;
}